<div class="card">
  <div class="card-body">
    <blockquote class="blockquote">
      <div class="content-card">
        <div class="content-one">
          <h1>Olá, Joana! :)</h1>
          <p class="date">Quinta-feira, 08/09/2024</p>
        </div>
        <div class="content-two">
          <div class="saldo">
            <span>Saldo</span>
            <img src="../../../assets/svg/ícone-olho.svg" alt="icone de olho" />
          </div>
          <div class="line"></div>
          <p class="type-saldo">Conta Corrente</p>
          <p class="saldo">R$ 2.500,00</p>
        </div>
        <img
          src="../../../assets/png/Ilustração1.png"
          alt="marca da água"
          class="watermark-ilustracao"
        />
        <img
          src="../../../assets/png/Pixels3-card.png"
          alt="marca da água"
          class="watermark"
        />
      </div>
    </blockquote>
  </div>
</div>
