<footer class="footer">
  <div class="footer-column">
    <h3>Serviços</h3>
    <p>Conta corrente</p>
    <p>Conta PJ</p>
    <p>Cartão de crédito</p>
  </div>

  <div class="footer-column">
    <h3>Contato</h3>
    <p>0800 000 123 45</p>
    <p>meajuda.com.br</p>
    <p>cvc.com.br</p>
  </div>

  <div class="footer-column-desenvolvido">
    <h3>Desenvolvido por Alura</h3>
    <div class="logo">
      <img src="./../../assets/img/Logo-branco.png" alt="Bytebank Logo" class="logo-image">
  </div>
    <div class="footer-logos">
      <img src="" alt="Instagram">
      <img src="" alt="WhatsApp">
      <img src="" alt="YouTube">
    </div>
  </div>
</footer>
