<div class="card">
  <div class="card-body">
    <img
      src="../../../assets/png/Pixels3-card.png"
      alt="marca da água"
      class="watermark-one"
    />
    <div class="content-card">
      <form class="form-transaction">
        <div class="form-group">
          <h1 class="title-card">Nova transação</h1>
          <select class="form-control new-transaction">
            <option disabled selected>Selecione o tipo de transação</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group group-value">
          <label for="exampleFormControlTextarea1" class="valor-transaction">
            Valor
          </label>
          <input
            type="number"
            class="form-control transaction"
            placeholder="00,00"
          />
        </div>
        <button type="submit" class="btn-transaction">
          Concluir transação
        </button>
      </form>
    </div>
    <img
      src="../../../assets/png/Ilustração2.png"
      alt="marca da água"
      class="watermark-ilustracao"
    />
    <img
      src="../../../assets/png/Pixels3-card.png"
      alt="marca da água"
      class="watermark"
    />
  </div>
</div>
