<div class="card">
  <div class="card-body">
    <img
      src="../../../assets/png/Pixels3-card.png"
      alt="marca da água"
      class="watermark-one"
    />
    <div class="content-card">
      <div class="group">
        <h1 class="title-card">Investimentos</h1>
        <p class="title-total">Total: R$ 50.000.00</p>
        <div class="cards">
          <app-card-rectangular
            [title]="'Renda Fixa'"
            [valueInvestment]="'R$ 36,000.00'"
          ></app-card-rectangular>
          <app-card-rectangular
            [title]="'Renda variável'"
            [valueInvestment]="'R$ 14,000.00'"
          ></app-card-rectangular>
        </div>
      </div>
      <div class="group">
        <h1 class="title-card-estatistica">Estatísticas</h1>
        <p class="title-total">Total: R$ 50.000.00</p>
        <div class="cards">
          <app-card-large></app-card-large>
        </div>
      </div>
    </div>
    <img
      src="../../../assets/png/Pixels3-card.png"
      alt="marca da água"
      class="watermark"
    />
  </div>
</div>
