<app-header></app-header>
<div class="home-container">
    <div class="home-banner">
        <h1>Experimente mais liberdade no controle da sua vida financeira. Crie sua conta com a gente!</h1>
        <div class="home-illustration">
          <img src="../../../assets/img/ilustração-banner.png" alt="Ilustração Banner" />

        </div>
    </div>
    <div class="home-vantagens">
        <h2>Vantagens do nosso banco:</h2>
        <img src="../../../assets/img/Vantagem 1.png" alt="Ilustração Banner" />
        <img src="../../../assets/img/Vantagem 2.png" alt="Ilustração Banner" />
        <img src="../../../assets/img/Vantagem 3.png" alt="Ilustração Banner" />
        <img src="../../../assets/img/Vantagem 4.png" alt="Ilustração Banner" />
    </div>
</div>
<app-footer></app-footer>
